.home {
  min-height: 600px;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 4em;
  padding: 1em;
  width: 700px;
  line-height: 1;
  font-weight: bold;
}

@media screen and (max-width: 1080px) {
  .title {
    font-size: 2em;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 1.5em;
    width: 70%;
  }
}
